section{
    padding-top: 2rem;
    padding-bottom: 1rem;
    min-height:60vh;
}

.remove-position{
    position:initial;
    left:initial;
    top: initial;
    transform: none;
}

#artist-intro{
align-self: center;
}

.artist-name{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.single-release{
    margin-bottom:2rem;
}

.single-release > img,
.img-border {
    border: 5px solid #FBFEF9;
}